<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#websiteNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Brand</a>
    </div>
      <!-- Include application URLs -->
    <div class="collapse navbar-collapse" id="websiteNavbar">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </div>
</nav>